a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
	display: inline-block;
    font-family: sans-serif;
}
nav {
    display:inline;
    float:right;
}

header {
}

#main-content {
}

#cool-picture {
    height:350px;
    background-image: url(assets/slide-image-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:block;
    margin: 10px;
}

h1 {
    font-family: sans-serif;
    float: left
    margin-right: 10px;
}

h2 {
    text-align: center;
}

body {
    font-family: Arial;
    background-color: #FF9999";
}

#left, #right, #middle {
    padding: 10px;
}

#social {
    height: 50px;
    width: auto;
    background-color:blue;
    display:block;
}

#left {
    float: clear;
    width: 30%;
    float: left;
	
}
#right {
    width: 30%;
    float: left;
}
#middle {
    width: 30%;
    float: left;
}
    

footer {
	clear: both;
    width: 50%;
    margin: 0 auto;
}
.social-list {
    list-style: none;
    display: block;
    padding: 2px;
}
#slist {
    display: block;
}